<h1>Welcome to Rock Paper Scissors!</h1>

<h2>What move do you want to play?</h2>


<div>
  <a href="/rock">Play rock</a>
</div>

<div>
  <a href="/paper">Play paper</a>
</div>
    
<div>
  <a href="/scissors">Play scissors</a>
</div>
