<%= 
move = ["rock", "paper", "scissors"]

@player_move = "paper"
@comp_move = move.sample

if @comp_move == "paper"
  @outcome = "tied"
elsif @comp_move == "rock" 
  @outcome = "lost"
else
  @outcome = "won"
end

erb(:move)
%>

<div>
<h2>
  We played <%= @player_move %>!
</h2>

<h2>
  They played + <%= @comp_move %>!
</h2>

<h2>
  We <%= @outcome %>!
</h2>
</div>>
