<%= move = ["rock", "paper", "scissors"]

player_move = "rock"
@comp_move = move.sample

if @comp_move == "rock"
  outcome = "tied"
elsif @comp_move == "paper" 
  outcome = "lost"
else
  outcome = "won"
end %>

<div>
  <a href="/rock">Play rock</a>
</div>

<div>
  <a href="/paper">Play paper</a>
</div>
    
<div>
  <a href="/scissors">Play scissors</a>
</div>




<h2>
  We played rock!
</h2>

<h2>
  They played <%= @comp_move %>!
</h2>

<h2>
  We <%= outcome %>!
</h2>
