<div>
  <a href="/rock">Play rock</a>
</div>

<div>
  <a href="/paper">Play paper</a>
</div>
    
<div>
  <a href="/scissors">Play scissors</a>
</div>


<% move = ["rock", "paper", "scissors"]

player_move = "scissors"
@comp_move = move.sample

if @comp_move == "scissors"
  outcome = "tied"
elsif @comp_move == "rock" 
  outcome = "lost"
else
  outcome = "won"
end %>



<h2>
  We played scissors!
</h2>

<h2>
  They played <%= @comp_move %>!
</h2>

<h2>
  We <%= outcome %>!
</h2>

<a href="/">Home</a>
